html {
	position: relative;
	min-height: 100%;
	background-color: #204156;
	-webkit-overflow-scrolling: touch;
}

body {
	margin-bottom: 60px;
}
i {
    opacity: 0.7;
    font-size: 90%;
}

   /*CONTACT*/
.contact {
	margin-top: 3%;
	background-color: #CAD1CC;
	padding: 2%;
}   
   
.contact>.container>h1 {
	font-size: 60px; 
}
.contact>.container>h4 {
    letter-spacing: 2.2px;
}
   /*CONTACT FINISH*/

   /* CONTAINER */
.container {
	font-family: 'Fjalla One', sans-serif;
	line-height: 30px;
	letter-spacing: 4px;
	text-align: center;
}
   /* CONTAINER finish*/

   /* MAIN OUTER BOX */
.work>.container {
	font-family: 'Fjalla One', sans-serif;
	background-color: #212121;
    overflow-y: hidden;
    overflow-x: auto;
	margin-top: 195px;
	margin-bottom: 150px;
	padding: auto ;
}

.special > .nav-tabs > li.active > a,
.special > .nav-tabs > li.active > a:hover,
.special > .nav-tabs > li.active > a:focus{
    color: white;
    background-color: #E64A19;
    border: 0px solid #ddd;
	margin-bottom: 0px;
}

.special > .nav-tabs > li > a:hover,
.special > .nav-tabs > li > a:focus{
    color: #f2f2f2;
    background-color: rgba(230,74,25,0.5);
    border: 0px solid #ddd;
	margin-bottom: 0px;
	transition: 0.2s;
}

.special > .nav-tabs.nav-justified>.active>a, 
.special > .nav-tabs.nav-justified>.active>a:focus, 
.special > .nav-tabs.nav-justified>.active>a:hover {
	border: 2px solid #ddd;
}

.special > .nav-tabs.nav-justified>li>a {
    border-bottom: 0px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.special > .nav {
	background-color: #f78360;	
}

.special > .nav a {
	color: #212121;
}

.items {
	margin: 80px 7px 80px 7px;
}

   /* BOX-CEPTION */
@media screen and (max-width: 767px) {
	.clearfix {	
		clear: both;
	}
}

.campaigns {
	margin: 5% 0 -5px 0;
}

.fish {
	background-color: rgba(244,244,244,0.9); !important;
	padding: 30px 0 30px 0 !important;
	margin: 30px 0px 30px 0;
}

.txt {
	font-family: sans-serif;
	background-color: ;
    white-space: initial;
    line-height: 15px;
	letter-spacing: 1.4px;
	text-align: left;
}
.tabs-left>li {
	margin: 10px 0 10px 0;
	margin-top: -8px;
}
.tabs-left>a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

.tabs-left>a:hover,
.tabs-left>a:focus {
	outline: none;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Effect 21: borders slight translate */
.cl-effect-21 a {
	padding: 10px;
	font-weight: 200;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	/*color: #fff;*/
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.tabs-left > li > a {
    color: #555;
}
.tabs-left > li > a:hover {
    color: white;
    background-color: transparent;
    border: 0px solid white;
}

.tabs-left > li.active > a{
    background-color: rgba(206,206,206,0.1) !important;
    border-left: 0px solid white;
    color: white;
}
.tabs-left > li.active > a:focus {
    color: white;
    border-left: 0px solid white;
}
.tabs-left > li.active > a:hover{
    background-color: #212121;
    border-left: 0px solid white;
    color: white;
}

    /* BOX_CEPTION FINISH */

   /* SCROLLBAR STUFF */

::-webkit-scrollbar {
	width: 6px;
	background-color: #4c4c4c;
}
 
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #4c4c4c;
}
 
::-webkit-scrollbar-thumb {
	background-color: #080808;
}
   /* SCROLLBAR STUFF FINISH*/
   /* Thumbnail */
.thumbnail {
	padding: 0px;
}
   /* thumbnail finish */
   /* FOOTER */
.footer {
	font-family: 'Fjalla One', sans-serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #212121;
	border-top: 2px dashed #EF673C;
	border-bottom: 2px solid #212121;
	color: #CAD1CC;
}
.footer>.container {
	
	padding: 4px;
}

   /* FOOTER FINISH*/

   /*SKILLS*/
.skills {
	font-family: 'Fjalla One', sans-serif;
	color: #CAD1CC;
	line-height: 30px;
	letter-spacing: 4px;
	text-align: center;
	margin-bottom: 5%;
}

.table {
	margin-bottom: 195px;
}

.table td {
	color: #CAD1CC;
}
.table .ttxt {
	font-family: sans-serif;
    line-height: 15px;
	letter-spacing: 1.4px;
	text-align: left;
}
    /*SKILLS FINISH*/
.linkedin {
	height: 40px;
	width: 50px;
	border-right: 1px solid #686868;
	padding-right: 10px;
}
